h1{
    font-style: oblique;
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 50px;
}
input, select{
    display: block;
    margin: 20px auto;
    color: white;
}
textarea:focus, input:focus, select:focus{
    outline: none;
}
option{
    background: rgba(39, 59, 84, 99);
}
#login, #signUp, #langRU, #langEN, input, select{
    background: rgba(39, 59, 84, 0);
    border: none;
    border-bottom: 2px white solid;
    padding: 10px;
    color: white;
    transition-property: background-color, opacity;
    transition-duration: 500ms;
}
#btnLogin, #btnSignUp{
    transition-property: background-color;
    transition-duration: 50ms;
}
#login, #langEN{
    margin-left: 2px;
}
#signUp, #langRU{
    margin-left: 10px;
    opacity: 0.5;
}
div.out{
    background: rgba(39, 59, 84, .99);
    margin: auto;
    width: 20vw;
    height: 80vh;
    min-width: 200px;
}
div.in1, div.in2{
    width: 10vw;
    margin: auto;
    min-width: 135px;
}
div.in2{
    width: 8vw;
    min-width: 95px;
}
input:hover, select:hover, #signUp:hover, #login:hover, #langEN:hover, #langRU:hover, option:hover{
    opacity: 0.2;
}
input:focus, option:focus{
    opacity: 0.5;
}
#btnLogin:active, #btnSignUp:active{
    background-color: rgba(47, 70, 98, 0.99);
}